<div class="root">
	<div class="row">
		<div class="span12">
			<div class="grey-box">
				<h4>New litter</h4>

				<%= render 'form' %>

				<%= link_to 'Back', litters_path %>
			</div>
	 	</div>
	</div>
</div>