<div class="root">
	<div class="row">
		<div class="span12">
			<div class="grey-box">
				<h4>Editing mating</h4>

				<%= render 'form' %>

				<%= link_to 'Show', @mating %> |
				<%= link_to 'Back', matings_path %>
			</div>
	 	</div>
	</div>
</div>