<div class="root">
	<div class="row">
		<div class="span12">
			<div class="grey-box">
			<h1>Editing dog</h1>

			<%= render 'form' %>

			<%= link_to 'Show', @dog %> |
			<%= link_to 'Back', dogs_path %>
			</div>
	 	</div>
	</div>
</div>