<div class="root">
	<div class="row">
		<div class="span12">
			<div class="grey-box">			
				<p id="notice"><%= notice %></p>

				<p>
				  <strong>Name:</strong>
				  <%= @color.name %>
				</p>

				<%= link_to 'Edit', edit_color_path(@color) %> |
				<%= link_to 'Back', colors_path %>
			</div>
		</div>
	</div>
</div>