
<div class="root">
	<div class="row">
		<div class="span12">
			<div class="grey-box">
				<h1>Editing show_entry</h1>

				<%= render 'form' %>

				<%= link_to 'Show', @show_entry %> |
				<%= link_to 'Back', show_entries_path %>
			</div>
	 	</div>
	</div>
</div>