<div class="root">
	<div class="row">
		<div class="span12">
			<div class="grey-box">
				<h1>New charge</h1>

				<%= render 'form' %>

				<%= link_to 'Back', charges_path %>
			</div>
	 	</div>
	</div>
</div>